body::before {
    display: block;
    content: "";
    height: 6.5rem;
}

@font-face {
    font-family: SanFrancisco;
    font-weight: normal;
    font-style: normal;
    src: url("/static/fonts/SanFrancisco-Regular.otf");
}
@font-face {
    font-family: SanFrancisco;
    font-weight: bold;
    font-style: normal;
    src: url("/static/fonts/SanFrancisco-Bold.otf");
}
@font-face {
    font-family: SanFrancisco;
    font-weight: normal;
    font-style: italic;
    src: url("/static/fonts/SanFrancisco-Italic.otf");
}
@font-face {
    font-family: SanFrancisco;
    font-weight: bold;
    font-style: italic;
    src: url("/static/fonts/SanFrancisco-BoldItalic.otf");
}

@font-face {
    font-family: VanillaExtract;
    font-weight: bolder;
    font-style: normal;
    src: url(/static/fonts/Vanillaextract.ttf);
}

/*System wide font*/
html {
    font-family: SanFrancisco;
}

/*Colors*/
.background-primary {
    background-color: #E2E2E2;
}

.background-secondary {
    background-color: #171717;
}

.background-accent {
    background-color: #FFCC00;
}

.background-img {
    background-image: url("/static/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.drop-shadow {
    text-shadow: 1px 1px 4px #000000;
}

.shadow {
    filter: drop-shadow(0 0 0.75rem grey);
}

.info-paragraph {
    text-shadow: 1px 1px 1px grey;
    padding: 1rem;
}

.background-blur {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: url(filters.svg#filter) blur(4px) saturate(150%);
}

.font-large {
    font-size: x-large;
}

.font-xlarge {
    font-size: xxx-large;
}

.profile-img {
    filter: drop-shadow(0 0 0.7rem grey);
    border-radius: 50%;
    object-fit: cover;
}

.visible-ws {
    white-space: pre;
}

/*Animated Text Color With Hue*/
.text-gradient {
    font-family: VanillaExtract;
    font-size: 4rem;
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #cc5500, #ccbb00);
    background-clip: text;
    animation: hue 20s infinite linear;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 20s infinite linear;
}

.slide-in-bottom {
    animation: slide-in-bottom 0.6s ease-out both;
	-webkit-animation: slide-in-bottom 0.6s ease-out both;
}

@-webkit-keyframes slide-in-bottom {
    0% {
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-in-bottom {
    0% {
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}
