.display-border {
    border-color: crimson;
    border-style: solid;
}

.search-box {
    border-radius: 4rem;
    background-color: #FFFFFF;
    filter: drop-shadow(0 0 0.1rem grey);
    width: 50%;
    transition: filter 0.5s, width 0.5s;
    transition-timing-function: cubic-bezier(.47, 1.64, .41, .8);

}

.search-box:hover {
    width: 75%;
    filter: drop-shadow(0 0 0.4rem grey);
}

.text-box {
    outline: none;
    background-color: #FFFFFF;
    border-style: none;
}

.submit-button {
    background-color: #FFFFFF;
    border-style: none;
    font-size: 1.7rem;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.result-sheet {
    height: auto;
    border-radius: 4rem;
    background-color: white;
    filter: drop-shadow(0 0 0.1rem grey);
}

.result-left {
    min-width: 256px;
    width: 30%;
}

.poster {
    width: 100%;
    height: auto;
}

.result-right {
    width: 70%;
}

.rating {
    font-size: 1rem;
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.6s ease-out both;
	        animation: slide-in-bottom 0.6s ease-out both;
}

.slide-in-bottom2 {
	-webkit-animation: slide-in-bottom 0.8s ease-out both;
	        animation: slide-in-bottom 0.8s ease-out both;
}

.slide-in-bottom3 {
	-webkit-animation: slide-in-bottom 1s ease-out both;
	        animation: slide-in-bottom 1s ease-out both;
}

.slide-in-bottom4 {
	-webkit-animation: slide-in-bottom 1.2s ease-out both;
	        animation: slide-in-bottom 1.2s ease-out both;
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.5s ease-in-out both;
	        animation: slide-in-top 0.5s ease-in-out both;
}

 @-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(100px);
                transform: translateY(100px);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(100px);
                transform: translateY(100px);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }