body::before {
    display: block;
    content: "";
    height: 6.5rem;
}

@font-face {
    font-family: CallunaSans;
    font-weight: normal;
    font-style: normal;
    src: url("/static/fonts/CallunaSans-Regular.otf");
}
@font-face {
    font-family: CallunaSans;
    font-weight: bold;
    font-style: normal;
    src: url("/static/fonts/CallunaSans-Bold.otf");
}
@font-face {
    font-family: CallunaSans;
    font-weight: normal;
    font-style: italic;
    src: url("/static/fonts/CallunaSans-Italic.otf");
}
@font-face {
    font-family: CallunaSans;
    font-weight: bold;
    font-style: italic;
    src: url("/static/fonts/CallunaSansBoldItalic.otf");
}

@font-face {
    font-family: VanillaExtract;
    font-weight: bolder;
    font-style: normal;
    src: url(/static/fonts/Vanillaextract.ttf);
}

/*Colors*/
.background-primary {
    background-color: #E2E2E2;
}

.background-secondary {
    background-color: #171717;
}

.background-accent {
    background-color: #FFCC00;
}

.background-img {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.tx-primary {
    color: #E2E2E2;
}

.tx-secondary {
    color: #7038D4;
}

.tx-accent {
    color: #FFCC00;
}

.drop-shadow {
    text-shadow: 2px 2px 4px #000000;
}

.shadow {
    filter: drop-shadow(0 0 0.75rem grey);
}

.background-blur {
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: url(filters.svg#filter) blur(6px) saturate(150%);
}

.font-primary {
    font-family: CallunaSans;
}

.font-large {
    font-size: x-large;
}

.font-xlarge {
    font-size: xxx-large;
}

.profile-img {
    filter: drop-shadow(0 0 0.75rem grey);
    border-radius: 50%;
    object-fit: cover;
}

.visible-ws {
    white-space: pre;
}

/*Animated Text Color With Hue*/
.text-gradient {
    font-family: VanillaExtract;
    font-size: 4rem;
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #cc5500, #ccbb00);
    background-clip: text;
    animation: hue 20s infinite linear;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 20s infinite linear;
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}
