body::before {
    display: block;
    content: "";
    height: 4rem;
}
@font-face {
    font-family: CallunaSans;
    font-weight: normal;
    font-style: normal;
    src: url("/static/fonts/CallunaSans-Regular.otf");
}
@font-face {
    font-family: CallunaSans;
    font-weight: bold;
    font-style: normal;
    src: url("/static/fonts/CallunaSans-Bold.otf");
}
@font-face {
    font-family: CallunaSans;
    font-weight: normal;
    font-style: italic;
    src: url("/static/fonts/CallunaSans-Italic.otf");
}
@font-face {
    font-family: CallunaSans;
    font-weight: bold;
    font-style: italic;
    src: url("/static/fonts/CallunaSansBoldItalic.otf");
}

@font-face {
    font-family: Manrope;
    font-weight: normal;
    font-style: normal;
    src: url(/static/fonts/Manrope-regular.otf);
}

@font-face {
    font-family: Manrope;
    font-weight: bold;
    font-style: normal;
    src: url(/static/fonts/Manrope-bold.otf);
}

.background-primary {
    background-color: #E2E2E2;
}

.background-secondary {
    background-color: #171717;
}

.background-accent {
    background-color: #FFCC00;
}

.tx-primary {
    color: #E2E2E2;
}

.tx-secondary {
    color: #7038D4;
}

.tx-accent {
    color: #FFCC00;
}

.drop-shadow {
    text-shadow: 2px 2px 4px #000000;
}

.background-blur {
    backdrop-filter: url(filters.svg#filter) blur(6px) saturate(150%);
}

.font-primary {
    font-family: CallunaSans;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.font-large {
    font-size: x-large;
}

.font-xlarge {
    font-size: xxx-large;
}