{% extends 'anon_base.html'%}

{% block title%}
    Login Page
{% endblock%}

{% block middle %}
<div class="container w-100">
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <form action="{{ url_for('login') }}" method="POST" id="loginForm">
            <h1 class="text-center">login to your account</h1>
            <div class="form-text text-center" id="infoTextLogin">
                you are about to experience something amazing
            </div>
            <div class="container p-5">
                <!--Username input-->
                <div class="input-group mb-4">
                    <span class="input-group-text" id="username">@</span>
                    <input type="text" class="form-control" placeholder="Username" name="username" id="username"
                        aria-label="Username" aria-describedby="basic-addon1" />
                </div>

                <!-- Password input one-->
                <div class="form-outline mb-4">
                    <input type="password" name="passwordOne" id="passwordOne" class="form-control" />
                    <label class="form-label" for="passwordOne">Password</label>
                </div>

                <a href="#">
                    <div class="form-text text-center text-primary">
                        forget your password?
                    </div>
                </a>

                <br>

                <!-- Submit button -->
                <button type="button" class="btn btn-secondary btn-block text-light" id="submitLogin">Sign in</button>
            </div>
        </form>
    </div>
</div>
{% endblock%}