<div class="d-flex justify-content-center">
  <label class="text-gradient hue" style="font-size: 2.2rem;">change password</label>
</div>
<form class="d-flex justify-content-center">
  <!-- Name and Username-->
  <div class="d-flex flex-column w-50 pt-3 justify-content-center">
    <span class="d-flex flex-column align-items-center">
      <label class="light-label">current password</label>
      <input type="password" id="currentPassword" class="form-control w-75"/>
    </span>
    <span class="d-flex flex-column align-items-center">
      <label class="light-label mt-3">new password</label>
      <input type="password" id="newPasswordOne" class="form-control w-75"/>
    </span>
    <span class="d-flex flex-column align-items-center">
      <label class="light-label mt-2">confirm new password</label>
      <input type="password" id="newPasswordTwo" class="form-control w-75"/>
    </span>
  </div>
</form>

<div class="d-flex pt-4 justify-content-center">
  <button
    type="button" class="btn btn-secondary text-light m-4"
    style="background-color: #A316FD;" id="cancelPassword">cancel</button>
  <button
    type="button" class=" btn btn-secondary text-light m-4"
    style="background-color: #A316FD;" id="applyPassword">apply</button>
</div>
