{% extends 'base.html' %}

{% block title %}
    Your Profile
{% endblock %}

{% block navbar %}
  <!-- signed in -->
  {% if user %}
    <a href="{{ url_for('profile') }}">
      <img src="/static/sample_profil_pic.jpg" alt="Movie Town Logo" width="60rem" height="60rem" class="d-none d-md-inline-block align-top profile-img">
    </a>
    <li>
      <a class="nav-link visible-ws", href="{{ url_for('profile') }}"> {{ user.get("u_name") }}</a>
    </li>
    <li>
      <a class="nav-link visible-ws" href="{{ url_for('logout') }}">Logout  </a>
    </li>
  <!-- no one signed in -->
  {% else %}
    <li>
      <a class="nav-link", href="{{ url_for('login') }}">Login</a>
    </li>
    <li>
      <a class="nav-link", href="{{ url_for('sign_up') }}">Sign up   </a>
    </li>
  {% endif %}
{% endblock %}

{% block main %}
    <div class="d-flex justify-content-center align-items-center cool-font-regular">
        <!--Left section-->
        <div class="container w-25"></div>
        <!--Middle section-->
        <div
            class="container w-100 text-center pb-5 mt-5 mb-5">
            <div
                class="container pt-5 pb-5 mt-5 mb-5 profile-sheet">
                <div class="d-flex">
                    <div
                      class="container d-none d-md-inline-block w-50 d-flex flex-column justify-content-center align-items-center">
                      <!--Profile Picture Big-->
                      <img
                        src="/static/sample_profil_pic.jpg"
                        alt="Movie Town Logo"
                        width="196rem" height="196rem"
                        class="profile-img">
                      <!--Message for the user-->
                      <div class="pt-4 cool-font-italic">
                        Good {{ welcoming }},
                      </div>
                      <div>
                        {{ user.get("u_name") }}
                      </div>
                    </div>
                    
                    <div class="container w-100" id="profilePanel">
                        <!--To be filled by jQuery-->
                    </div>
                </div>
            </div>
        </div>
        <!--Right section-->
        <div class="container w-25 justify-content-end"></div>
    </div>
{% endblock %}