{% extends "base.html" %}

{% block title %}
    Search
{% endblock %}

{% block navbar %}
    <!-- signed in -->
    {% if user %}
        <a href="{{ url_for('profile') }}">
            <img src="{{ user.get('u_picture') }}" alt="Movie Town Logo" width="60rem" height="60rem" class="d-none d-md-inline-block align-top profile-img">
        </a>
        <li>
            <a class="nav-link visible-ws", href="{{ url_for('profile') }}"> {{ user.get("u_name") }}</a>
        </li>
        <li>
            <a class="nav-link visible-ws" href="{{ url_for('logout') }}">Logout  </a>
        </li>
    <!-- no one signed in -->
    {% else %}
        <li>
            <a class="nav-link", href="{{ url_for('login') }}">Login</a>
        </li>
        <li>
            <a class="nav-link", href="{{ url_for('sign_up') }}">Sign up   </a>
        </li>
    {% endif %}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="d-flex justify-content-center align-items-center text-center">
            <div class="d-none d-xxl-inline-block container w-25">
                <!--Left -->
            </div>
            <div class="container w-100 d-flex flex-column pt-5 pb-5 mt-5">
                <!--Search Box-->
                <div class="container p-4 d-flex flex-row search-box">
                    <input
                        class="w-100 text-box"
                        id="searchBox"
                        type="text" placeholder="What are you looking to watch?">
                    <button class="submit-button" id="searchButton" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
                <!--Dynamic Search Results-->
                <div class="container w-75 p-4 mt-4 result-sheet slide-in-top" id="resultSheet" style="display: none;">
                    <!--Result Will Display Here-->
                    <!--See 'movie_card.html' for the layout-->
                </div>
            </div>
            <div class="d-none d-xxl-inline-block container w-25">
              <!--Right -->
            </div>
        </div>
        <div class="container d-flex flex-column flex-lg-row p-5 justify-content-center align-items-center">
            <!--Card One-->
            <div class="card w-25 m-4 slide-in-bottom" style="height: 32rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="/static/data/icons/search.svg"
                    class="img-fluid p-5"
                  />
                </div>
                <div class="card-body">
                  <h3>Search</h3>
                  <p class="h5">
                    We use lightning-fast search engine called ElasticSearch. If you don't
                    belive us, just give it a shot and experience the speed.
                  </p>
                </div>
            </div>
            <!--Card Two-->
            <div class="card w-25 m-4 slide-in-bottom2" style="height: 32rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="/static/data/icons/heart.svg"
                    class="img-fluid p-5"
                  />
                </div>
                <div class="card-body">
                  <h3>Love</h3>
                  <p class="h5">
                    I tried my best make the database full of cool movies. If you can't find
                    your movie here don't worry. Soon you will be able to add new movies.
                  </p>
                </div>
            </div>
            <!--Card Three-->
            <div class="card w-25 m-4 slide-in-bottom3" style="height: 32rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="/static/data/icons/bookmark.svg"
                    class="img-fluid p-5"
                  />
                </div>
                <div class="card-body">
                  <h3>Watchlist</h3>
                  <p class="h5">
                    You can add any desired movie to your own watchlist. There you can organize
                    them anyway you want. We can even send a reminder email.
                  </p>
                </div>
            </div>
            <!--Card Four-->
            <div class="card w-25 m-4 slide-in-bottom4" style="height: 32rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="/static/data/icons/refresh.svg"
                    class="img-fluid p-5"
                  />
                </div>
                <div class="card-body">
                    <h3>Up-to-date</h3>
                    <p class="h5">
                        We try to add new movies as they come out. You can help us by signing up
                        for our Editor membership. We even reward our editors &lt;3.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}