{% extends 'anon_base.html' %}

{% block title%}
    Sign-up Page
{% endblock %}

{% block middle %}
<div class="container w-100">
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <form action="{{ url_for('sign-up') }}" method="POST">
            <h1 class="text-center">create your account</h1>
            <div class="form-text text-center">
                all your information is safe on our database
            </div>
            <div class="container p-5">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" name="name" id="name" class="form-control" />
                            <label class="form-label" for="name">First name</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" name="surname" id="surname" class="form-control" />
                            <label class="form-label" for="surname">Last name</label>
                        </div>
                    </div>
                </div>
                
                <!--Username input-->
                <div class="input-group mb-4">
                    <span class="input-group-text" id="username">@</span>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Username"
                        aria-label="Username" aria-describedby="basic-addon1" />
                  </div>
    
                <!-- Email input -->  
                <div class="form-outline">
                    <input
                      type="text"
                      name="maildAddress"
                      id="mailAddress"
                      class="form-control"
                      aria-describedby="mailDescription"
                    />
                    <label class="form-label" for="mailAddress">Email address</label>
                </div>
                <div id="mailDescription" class="form-text">
                    we'll never share your email with anyone else.
                </div>

                <br>

                <!-- Password input one-->
                <div class="form-outline mb-4">
                    <input type="password" name="passwordOne" id="passwordOne" class="form-control" />
                    <label class="form-label" for="passwordOne">Password</label>
                </div>

                <!-- Password input two-->
                <div class="form-outline mb-4">
                    <input type="password" name="passwordTWo" id="passwordTwo" class="form-control" />
                    <label class="form-label" for="passwordTwo">Confirm password</label>
                </div>
                
                <!-- Default checkbox -->
                <div class="form-check">
                    <input
                    class="form-check-input"
                    type="checkbox"
                    name="accept"
                    id="accept"
                    />
                    <label class="form-check-label" for="accept">
                    I agree to the Terms of Use.
                    </label>
                </div>

                <br>

                <!-- Submit button -->
                <button type="submit" class="btn btn-secondary btn-block text-light">Sign up</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}